body{
    overflow: auto;
}
main{
    overflow: visible;
    height: fit-content;
}

/** Info **/
#info-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

.info-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 50px;
    margin-right: 50px;
}

/* Profile picture */
.info-profile{
    position: relative;
    margin-left: 0;
    margin-right: 0;
}

.info-profile h2{
    align-self: flex-end;
    justify-self: end;
    font-weight: 400;
    margin-right: 40px;
}

.info-profile-img{
    height: 100%;
}
.info-profile-img img{
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    filter: grayscale(100%);

    display: block;
}

#korean-name{
    height: 100%;
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;

    text-align: center;
    font-family: "Diphylleia", serif;
    font-size: 90px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: 40px;
    color: var(--scnd-clr);
    mix-blend-mode: difference;
}

/* Info text */
.info-text{
    grid-column: 2;
    margin-top: 70px;
}
.info-text h1{
    font-size: 4em;
    font-weight: 400;
    margin-bottom: 40px;
}    

/* p{
    font-family: "Public Sans";
    font-size: 15px;
} */

hr.line-break {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.250), var(--dark-clr), rgba(0, 0, 0, 0.250));
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Info title and texts */
.info-details{
    margin-top: 50px;
}

.info-title h2{
    font-weight: 400;
    font-size: 32px;
}

.info-details h3{
    font-family: "Public Sans";
    font-weight: 500;
    font-size: 18px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 15px;
}

.info-details i{
    display: inline-block;
    font-family: "Public Sans";
}


/** Responsive **/

/* Small Screen (mobile)*/
@media (max-width: 600px) {
    .info-container{
        gap: 20px;
    }
    .info-grid{
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .info-grid.info-profile{
        flex-direction: column-reverse;
    }
    #korean-name{
        font-size: 30px;
        letter-spacing: 20px;
        left: 0;
    }
    .info-profile h2{
        font-size: 12px;
        margin-right: 0;
        margin-top: 5px;
    }
    .info-text h1{
        font-size: 2em;
    }
    .info-title h2{
        font-size: 25px;
    }
    .info-details{
        margin-top: 30px;
    }
    .info-details h3{
        font-size: 14px;
        margin-right: 0;
    }
    .info-details i{
        font-size: 14px;
    }
    hr.line-break {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 601px) and (max-width: 991px) {
    #korean-name{
        font-size: 60px;
        letter-spacing: 30px;
    }
    .info-profile h2{
        margin-right: 20px;
        font-size: 17px;
    }   
    .info-grid{
        margin: 0;
    }
    .info-text{
        margin: 0;
        margin-top: 20px;
    }
    .info-text h1{
        font-size: 2.7em;
    }
    hr.line-break{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

/* Extra large devices */
@media (min-width: 2560px) {
    .info-title h2{
        font-size: 35px !important;
    }
    .info-details h3{
        font-size: 23px;
    }
    .info-details i{
        font-size: 21px;
    }
}