body{
    overflow: auto;
}
main{
    overflow: visible;
    height: fit-content;
}

/** Project Container **/
.project-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
    padding-left: 40px;
    padding-right: 40px;
}

/* Project image */
.project-image{
    display: block;
    height: fit-content;
}
.project-image img{
    min-width: 60%;
    max-width: 100%;
    margin-bottom: var(--header-margin);
}

/* Project detail */
.project-detail{
    padding-right: 3em;
}

p{
    font-family: "Public Sans";
}

h1{
    font-size: 64px;
    font-weight: 400;
    margin-bottom: 15px;
}

h2{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 60px;
}

/* Zoom Modal Styles */
.zoom {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f5fbffa5;
    backdrop-filter: blur(20px);

    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.zoom-img {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.zoom-img img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.zoom-exit {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1001;
}

.zoom-exit svg path {
    stroke: var(--dark-clr);
    stroke-width: 2px;
}

.zoom-exit:hover svg path {
    stroke: var(--scnd-clr);
    transition: stroke 0.3s;
}

.zoom-arrow-left,
.zoom-arrow-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1001;
}

.zoom-arrow-left {
    left: 20px;
}

.zoom-arrow-right {
    right: 20px;
}

.zoom-arrow-left svg path,
.zoom-arrow-right svg path {
    stroke-width: 2px;
}

.zoom-arrow-left:hover svg path,
.zoom-arrow-right:hover svg path {
    stroke: var(--scnd-clr);
    transition: stroke 0.3s;
}

.project-img {
    cursor: pointer;
}

/** Responsive **/

/* Small Screen (mobile)*/
@media (max-width: 600px){
    .project-container{
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
        gap: 40px;
    }
    .project-detail{
        padding: 0;
    }
    h1{
        font-size: 38px;
        margin-bottom: 10px;
    }
    h2{
        font-size: 15px;
        margin-bottom: 30px;
    }


    .zoom-arrow-left,
    .zoom-arrow-right {
        top: 90%;
    }
    .zoom-arrow-left svg,
    .zoom-arrow-right svg{
        width: 50px;
        height: 32.5px;
    }
    .zoom-arrow-left svg path,
    .zoom-arrow-right svg path{
        stroke-width: 4px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 601px) and (max-width: 991px) {
    .project-container{
        padding: 0;
        gap: 20px;
    }
    .project-detail{
        padding: 0;
    }
    h1{
        font-size: 38px;
        margin-bottom: 10px;
    }
    h2{
        font-size: 15px;
        margin-bottom: 30px;
    }
    .zoom-arrow-left svg,
    .zoom-arrow-right svg{
        width: 50px;
        height: 32.5px;
    }
    .zoom-arrow-left svg path,
    .zoom-arrow-right svg path{
        stroke-width: 4px;
    }
}